# dervied config objects
/Kconfig
.config
.config.old
.oldconfig
auto.conf

/autoconf.h
/config.arch
/config/autoconf.h
/config/kconfig/conf
/config/kconfig/mconf
/lib/Kconfig.auto
/lib/Makefile.auto
/lib/uClibc
/linux/include/linux/autoconf.h
/user/Kconfig.auto
/user/Makefile.auto
/vendors/Kconfig

# build trees
/images
/romfs
/staging

# intermediate/build objects
*.o
*.a
*.gdb
.sgbuilt_*
